<header class="section-header border-bottom">	
	<section class="header-main">
		<div class="container">
			<a href="../" class="brand-wrap">
				<img class="logo" height="40" src="../public/images/logo.png">
			</a> <!-- brand-wrap end.// -->
		</div> <!-- container end.// -->
	</section>
</header> <!-- section-header end.// -->

<!-- ============== SECTION CONTENT  ============== -->
<section class="padding-y bg-light">
<div class="container">
    <br>
    <br>

	<header class="section-heading">
		<h2 class="section-title">Frequently Asked Questions </h2>
	</header> 

	<article>
        <br>
        <br>
        <br>

        <h3>
            1. Q: How to use this website?
        </h3>
        <br>
        <p>
            A: It's nothing more complicated than your everyday grocery shopping website! <br>
                1. One click to register and login (watch out for our pet owl!). <br>
                2. In the home page, you can browse our recently listed items and search by product keyword. <br>
                3. You can filter and sort the product and pick the session to fit the best of your needs. <br>
                4. In the profile section, you can checkout the products you have already bought and are currently selling. <br>
                5. As our user, please download the latest version of Teamviewer and register.(The page will prompt you to do so if you are launching a session) <br>
                6. Sellers need to initiate the session after the scheduled start time. Click once to authorize and refresh page, you will see the launch button. Click it when you are ready. <br>
                7. Buyers please wait for the seller to initiate the session first after the scheduled start time. Refresh the page, you will see the launch button for you to connect to the server you have rent. <br>
                8. Sellers can list your product in the profile section.
        </p>
        <br>
        <h3>
            2. Q: Do I need to register as a seller?
        </h3>
        <p>
            A: Right now you can post your own machines without a specific seller account. <br>
             Currently, for testing, all sellers are free to use the Teamviewer remote connection service provided by the website. <br>
             (There's a max limit of 10 sessions per hour for the free account used by the website owner) <br>
             In the comming future, we are planning to upgrade our service to give sellers more control and freedom :D <br>
        </p>
        <br>
        <h3>
           3. Q: Whom should I contact if I have questions regarding the website?
        </h3>
        <p>
            A: Please send your questions to our customer service: wzongshuo@gmail.com
        </p>

	


	<br><br><br><br><br><br><br><br><br>

	</article>

</div> <!-- container .//  -->
</section>
<!-- ============== SECTION CONTENT END// ============== -->

<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-end"> 
			&copy; Copyright 2022 Group 27 All rights reserved
		</p>
		<p>
			<a href="../page-term-conditions/1" class="link-primary">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<link href="./public/css/ui.css" rel="stylesheet" type="text/css" />
<link href="./public/css/responsive.css" rel="stylesheet" type="text/css" />

<!-- Font awesome 5 -->
<link href="./public/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
<script src="./public/pages_js/page-order-history.js"></script>