
<header class="section-header">	
	<section class="header-main">
		<div class="container">
			<div class="row gy-3 align-items-center">
				<div class="col-lg-2 col-sm-4 col-4">
					<a href="/" class="navbar-brand">
						<img class="logo" height="50" src="./public/images/logo.png">
					</a> <!-- brand end.// -->
				</div>
				<div class="order-lg-last col-lg-5 col-sm-8 col-8">
					<div class="float-end">
						<a href="/user/page-user-login" class="btn btn-light">
							<i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Log in  </span>
						</a>
						<a href="/user/page-user-signup" class="btn btn-light">
							<i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign up  </span>
						</a>
						<a href="/profile/page-order-history" class="btn btn-light">
							<i class="fa fa-shopping-basket"></i> <span class="ms-1">Profile </span>
						</a>
			        </div>
				</div> <!-- col end.// -->
				<div class="col-lg-5 col-md-12 col-12">
<!--					<form action="#" class="">-->
		              <div class="input-group">
		                <input type="search" class="form-control" style="width:55%" placeholder="Search" id="search_content">
		                <button class="btn btn-primary" id="search_button">
		                  <i class="fa fa-search"></i>
		                </button>
						  <div id="search_alert" hidden></div>
		              </div> <!-- input-group end.// -->
<!--		            </form>-->
				</div> <!-- col end.// -->
				
			</div> <!-- row end.// -->
		</div> <!-- container end.// -->
	</section> <!-- header-main end.// -->

</header> <!-- section-header end.// -->


<section class="padding-y" id="recent_result">
	<div class="container">
		<header class="section-heading">
			<h3 class="section-title">Checkout our new stuff!</h3>
		</header>
		<div class="row">

			<main class="col-lg-9" id="main_div">

				<!-- ========= content items ========= -->
				<!-- ========= content items .// ========= -->

			</main> <!-- col .// -->
		</div> <!-- row .// -->

	</div> <!-- container .//  -->
</section>
<!-- ================ SECTION PRODUCTS ================ -->



<!-- ============== SECTION CONTENT ============== -->
<section class="padding-y" id="search_result" hidden>
	<div class="container">
		<header class="section-heading">
			<h3 class="section-title">Search Result</h3>
		</header>
		<div class="row">
			<aside class="col-lg-3">

				<button class="btn btn-outline-secondary mb-3 w-100  d-lg-none" data-bs-toggle="collapse" data-bs-target="#aside_filter">Show filter</button>

				<!-- ===== Card for sidebar filter ===== -->
				<div id="aside_filter" class="collapse card d-lg-block mb-5">

					<article class="filter-group">
						<header class="card-header">
							<a class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside1">
								<i class="icon-control fa fa-chevron-down"></i>
								Operating system
							</a>
						</header>
						<div class="collapse show" id="collapse_aside1">
							<div class="card-body" id="operating_system_div">
								<label class="form-check mb-2">
									<input class="form-check-input" type="radio" name="check_opt_a" value="windows" id="windows" checked>
									<span class="form-check-label"> Windows </span>
								</label> <!-- form-check end.// -->

								<label class="form-check mb-2">
									<input class="form-check-input" type="radio" name="check_opt_a" value="macos" id="macos">
									<span class="form-check-label"> MacOS </span>
								</label> <!-- form-check end.// -->

								<label class="form-check mb-2">
									<input class="form-check-input" type="radio" name="check_opt_a" value="linux" id="linux">
									<span class="form-check-label"> Linux </span>
								</label> <!-- form-check end.// -->

								<label class="form-check mb-2">
									<input class="form-check-input" type="radio" name="check_opt_a" value="unix" id="unix">
									<span class="form-check-label"> Unix </span>
								</label> <!-- form-check end.// -->

								<label class="form-check mb-2">
									<input class="form-check-input" type="radio" name="check_opt_a" value="other" id="other">
									<span class="form-check-label"> Other </span>
								</label> <!-- form-check end.// -->
							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group // -->

					<article class="filter-group">
						<header class="card-header">
							<a class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_features">
								<i class="icon-control fa fa-chevron-down"></i>
								Features
							</a>
						</header>
						<div class="collapse show" id="collapse_aside_features">
							<div class="card-body" id="features_div">
								<label class="form-check mb-2">
									<input class="form-check-input" type="checkbox" value="" id="web_server">
									<span class="form-check-label"> Web server </span>
<!--									<b class="badge rounded-pill bg-gray-dark float-end">120</b>-->
								</label> <!-- form-check end.// -->

								<label class="form-check mb-2">
									<input class="form-check-input" type="checkbox" value="" id="deep_learning">
									<span class="form-check-label"> Deep learning </span>
<!--									<b class="badge rounded-pill bg-gray-dark float-end">15</b>-->
								</label> <!-- form-check end.// -->

								<label class="form-check mb-2">
									<input class="form-check-input" type="checkbox" value="" id="video_and_3d">
									<span class="form-check-label"> Video and 3D rendering </span>
<!--									<b class="badge rounded-pill bg-gray-dark float-end">35</b>-->
								</label> <!-- form-check end.// -->

								<label class="form-check mb-2">
									<input class="form-check-input" type="checkbox" value="" id="gaming">
									<span class="form-check-label"> Gaming </span>
<!--									<b class="badge rounded-pill bg-gray-dark float-end">89</b>-->
								</label> <!-- form-check end.// -->

								<label class="form-check mb-2">
									<input class="form-check-input" type="checkbox" value="" id="modeling_and_simulation">
									<span class="form-check-label"> Modeling and simulation </span>
<!--									<b class="badge rounded-pill bg-gray-dark float-end">30</b>-->
								</label> <!-- form-check end.// -->

								<label class="form-check mb-2">
									<input class="form-check-input" type="checkbox" value="" id="scientific_calculation">
									<span class="form-check-label"> Scientific calculation </span>
<!--									<b class="badge rounded-pill bg-gray-dark float-end">30</b>-->
								</label> <!-- form-check end.// -->
							</div>
						</div>
					</article>

					<article class="filter-group">
						<header class="card-header">
							<a class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
								<i class="icon-control fa fa-chevron-down"></i>
								Price($)
							</a>
						</header>
						<div class="collapse show" id="collapse_aside2">
							<div class="card-body" id="price_div">
<!--								<input type="range" class="form-range" min="0" max="100">-->
								<div class="row mb-3">
									<div class="col-6">
										<label for="price_min" class="form-label">Min</label>
										<input class="form-control" id="price_min" placeholder="$0" type="number" value="0">
									</div> <!-- col end.// -->

									<div class="col-6">
										<label for="price_max" class="form-label">Max</label>
										<input class="form-control" id="price_max" placeholder="$1,0000" type="number" value="10000">
									</div> <!-- col end.// -->
									<div class="col-6" id="price_alert" hidden>

									</div>
								</div> <!-- row end.// -->
<!--								<button class="btn btn-light w-100" type="button">Apply</button>-->
							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group // -->

					<article class="filter-group">
						<header class="card-header">
							<a class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
								<i class="icon-control fa fa-chevron-down"></i>
								Distance(miles)
							</a>
						</header>
						<div class="collapse show" id="collapse_aside2">
							<div class="card-body" id="distance_div">
<!--								<input type="range" class="form-range" min="0" max="100">-->
								<div class="row mb-3">
									<div class="col-6">
										<label for="distance_min" class="form-label">Min</label>
										<input class="form-control" id="distance_min" placeholder="0mile" type="number" value="0">
									</div> <!-- col end.// -->

									<div class="col-6">
										<label for="distance_max" class="form-label">Max</label>
										<input class="form-control" id="distance_max" placeholder="1,0000mile" type="number" value="10000">
									</div> <!-- col end.// -->
									<div class="col-6" id="distance_alert" hidden>

									</div>
								</div> <!-- row end.// -->

							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group // -->
					<button class="btn btn-light w-100" type="button" id="apply_botton">Apply</button>
				</div> <!-- card.// -->

				<!-- ===== Card for sidebar filter .// ===== -->

			</aside> <!-- col .// -->
			<main class="col-lg-9" id="result_div">

				<header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">

					<strong class="d-block py-2" id="result_number"></strong>

					<div class="ms-auto" id="sort_by_div">
						<select class="form-select d-inline-block w-auto">
							<option id="lowest_price" selected>Lowest price </option>
							<option id="shortest_distance">Shortest distance</option>
							<option id="highest_rated">Highest rated</option>
							<option id="newest_listed">Newest listed</option>
						</select>
					</div>
				</header>

                <div id="higher_show_div">
				<div id="show_div"></div>
                </div>

				<footer class="d-flex mt-4">
<!--					<div id="result_nav1">-->
<!--						<a href="javascript: history.back()" class="btn btn-light"> &laquo; Go back</a>-->
<!--					</div>-->
					<nav class="ms-3" id="result_nav">
						<ul class="pagination">
							<li class="page-item">
								<a class='page-link' id='pre_page'> &laquo; Previous</a>
							</li>
							<li class="page-item active" aria-current="page">
								<span class="page-link" id="current_page"></span>
							</li>
							<li class="page-item"><a class="page-link"  id="first_page">1</a></li>
							<li class="page-item"><span class="page-link" >...</span></li>
							<li class="page-item"><a class="page-link" id="last_page"></a></li>
							<li class="page-item">
								<a class='page-link' id='next_page'>Next &raquo;</a>
							</li>
						</ul>
					</nav>
				</footer>

				<!-- ========= content items .// ========= -->


			</main> <!-- col .// -->
		</div> <!-- row .// -->

	</div> <!-- container .//  -->
</section>
<!-- ============== SECTION CONTENT END// ============== -->

<!-- ================ SECTION FEATURE ================ -->
<section class="bg-light padding-y">
<div class="container">

	<header class="section-heading mt-2 mb-5">
		<h3 class="section-title">About us</h3>
	</header> 

	<div class="row mb-4">
		<div class="col-lg-4 col-md-6">	
			<figure class="itemside align-items-center mb-4">
				<div class="aside">
					<span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
						<i class="fa fa-money-bill"></i>
					</span>
				</div>
				<figcaption class="info">
					<h6 class="title">Distance</h6>
					<p>Get a server closest to your spot. </p>
				</figcaption>
			</figure> <!-- itemside // -->
		</div><!-- col // -->
		<div class="col-lg-4 col-md-6">
			<figure class="itemside align-items-center  mb-4">
				<div class="aside">
					<span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
						<i class="fa fa-star"></i>
					</span>
				</div>
				<figcaption class="info">
					<h6 class="title">Various choices</h6>
					<p>We have servers specially for deep learning, simulation, 3D rendering and all sort of purposes.</p>
				</figcaption>
			</figure> <!-- itemside // -->
		</div><!-- col // -->
	    <div class="col-lg-4 col-md-6">
			<figure class="itemside align-items-center  mb-4">
				<div class="aside">
					<span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
						<i class="fa fa-plane"></i>
					</span>
				</div>
				<figcaption class="info">
					<h6 class="title">Worldwide</h6>
					<p>We have sellers from all over the world! </p>
				</figcaption>
			</figure> <!-- itemside // -->
		</div> <!-- col // -->
	</div>
</div> <!-- container end.// -->
</section>
<!-- ================ SECTION FEATURE END.// ================ -->

<footer class="section-footer bg-gray-light">
<div class="container">
  <section class="footer-main padding-y">
    <div class="row">
      <aside class="col-12 col-sm-12 col-lg-3">
        <article class="me-lg-4">
          <img src="./public/images/logo.png" class="logo-footer">
          <p class="mt-3"> © 2018- 2021 Templatemount. <br> All rights reserved. </p>
        </article>
      </aside>
      <aside class="col-6 col-sm-4  col-lg-2">
        <h6 class="title">Support</h6>
        <ul class="list-menu mb-4">
          <li> <a href="#"> FAQ </a></li>
          <li> <a href="/profile/page-order-history"> My Orders </a></li>
          <li> <a href="#"> Admin </a></li>
        </ul>
      </aside>
    </div> <!-- row.// -->
  </section>  <!-- footer-top.// -->

</div> <!-- container end.// -->
</footer>

<link href="../public/css/ui.css" rel="stylesheet" type="text/css" />
<link href="../public/css/responsive.css" rel="stylesheet" type="text/css" />

<!-- Font awesome 5 -->
<link href="../public/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
<script src="../public/pages_js/page-order-history.js"></script>

<script src="../public/pages_js/index.js"></script>
