<form action="/login" method="post" id="login-form">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="username"/>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="password"/>
    <button type="submit">Log in</button>

</form>
<a href="/signup">Need to register? Click here to sign-up</a>
{{#if error}}<div class="text-goes-here">{{error}}</div>{{/if}}