
<header class="section-header">
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="../" class="navbar-brand">
            <img class="logo" height="40" src="./public/images/logo.png">
          </a> <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">
            <a href="/user/page-user-login" class="btn btn-light">
              <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Log in  </span>
            </a>
            <a href="/user/page-user-signup" class="btn btn-light">
              <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign up  </span>
            </a>
            <a href="/profile/page-order-history" class="btn btn-light">
              <i class="fa fa-shopping-basket"></i> <span class="ms-1">Profile </span>
            </a>
          </div>
        </div> <!-- col end.// -->
        <div class="col-lg-5 col-md-12 col-12">
          <!--					<form action="#" class="">-->
<!--          <div class="input-group">-->
<!--            <input type="search" class="form-control" style="width:55%" placeholder="Search" id="search_content">-->
<!--            <button class="btn btn-primary" id="search_button">-->
<!--              <i class="fa fa-search"></i>-->
<!--            </button>-->
<!--            <div id="search_alert" hidden></div>-->
<!--          </div> &lt;!&ndash; input-group end.// &ndash;&gt;-->
          <!--		            </form>-->
        </div> <!-- col end.// -->

      </div> <!-- row end.// -->
    </div> <!-- container end.// -->
  </section> <!-- header-main end.// -->

</header> <!-- section-header end.// -->



<!-- ============== SECTION PAGETOP ============== -->
<!--<section class="bg-primary padding-y-sm">-->
<!--<div class="container">-->

<!--  <ol class="breadcrumb ondark mb-0">-->
<!--    <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--    <li class="breadcrumb-item"><a href="#">Library</a></li>-->
<!--    <li class="breadcrumb-item active" aria-current="page">Data</li>-->
<!--  </ol>-->

<!--</div> &lt;!&ndash; container //  &ndash;&gt;-->
<!--</section>-->
<!-- ============== SECTION PAGETOP END// ============== -->

<!-- ============== SECTION CONTENT ============== -->
<section class="padding-y">
<div class="container">

<div class="row">
<!--<aside class="col-lg-6">-->
<!--  <article class="gallery-wrap"> -->
<!--    <div class="img-big-wrap img-thumbnail">-->
<!--       <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big.jpg"> -->
<!--          <img height="560" src="images/items/detail1/big.jpg"> -->
<!--       </a>-->
<!--    </div> &lt;!&ndash; img-big-wrap.// &ndash;&gt;-->
<!--    <div class="thumbs-wrap">-->
<!--      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big1.jpg" class="item-thumb"> -->
<!--        <img width="60" height="60" src="images/items/detail1/thumb1.jpg"> -->
<!--      </a>-->
<!--      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big2.jpg" class="item-thumb"> -->
<!--        <img width="60" height="60" src="images/items/detail1/thumb2.jpg">  -->
<!--      </a>-->
<!--      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big3.jpg" class="item-thumb"> -->
<!--        <img width="60" height="60" src="images/items/detail1/thumb3.jpg">  -->
<!--      </a>-->
<!--      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big4.jpg" class="item-thumb"> -->
<!--        <img width="60" height="60" src="images/items/detail1/thumb4.jpg">  -->
<!--      </a>-->
<!--      <a data-fslightbox="mygalley" data-type="image" href="images/items/detail1/big.jpg" class="item-thumb"> -->
<!--        <img width="60" height="60" src="images/items/detail1/thumb.jpg">  -->
<!--      </a>-->
<!--    </div> &lt;!&ndash; thumbs-wrap.// &ndash;&gt;-->
<!--  </article> &lt;!&ndash; gallery-wrap .end// &ndash;&gt;-->
<!--</aside>-->
<main class="col-lg-6">
  <article class="ps-lg-3">
    <h4 class="title text-dark" id="name">This is name </h4>
    <div class="rating-wrap my-3">
      <ul class="rating-stars">
        <li style="width:80%" class="stars-active" id="rating_star"> <img src="./public/images/misc/stars-active.svg" alt=""> </li>
        <li> <img src="./public/images/misc/starts-disable.svg" alt=""> </li>
      </ul>
      <b class="label-rating text-warning" id="rating_text"> 4.5</b>
    </div> <!-- rating-wrap.// -->

    <div class="mb-3"> 
      <var class="price h5" id="price"></var>
    </div>
    <div id="description">
      <p>N/A</p>
    </div>



    <dl class="row">
      <dt class="col-3">Features:</dt>
      <dd class="col-9" id="features_content">N/A</dd>

      <dt class="col-3">Location</dt>
      <dd class="col-9" id="location_content">N/A</dd>

    </dl>
    <article class="filter-group">
      <header class="card-header">
        <a class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_features">
          <i class="icon-control fa fa-chevron-down"></i>
          Sessions
        </a>
      </header>
      <div class="collapse show" id="collapse_aside_features">
        <div class="card-body" id="sessions_div">
          <label class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="session1">
            <span class="form-check-label" id="session1_label">session1</span>
            <!--									<b class="badge rounded-pill bg-gray-dark float-end">120</b>-->
          </label> <!-- form-check end.// -->

          <label class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="session2">
            <span class="form-check-label" id="session2_label">sessino2</span>
            <!--									<b class="badge rounded-pill bg-gray-dark float-end">15</b>-->
          </label> <!-- form-check end.// -->

          <label class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="session3">
            <span class="form-check-label" id="session3_label">session3</span>
            <!--									<b class="badge rounded-pill bg-gray-dark float-end">35</b>-->
          </label> <!-- form-check end.// -->

          <label class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="session4">
            <span class="form-check-label" id="session4_label">session4</span>
            <!--									<b class="badge rounded-pill bg-gray-dark float-end">89</b>-->
          </label> <!-- form-check end.// -->

          <label class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="session5">
            <span class="form-check-label" id="session5_label">sessino5</span>
            <!--									<b class="badge rounded-pill bg-gray-dark float-end">30</b>-->
          </label> <!-- form-check end.// -->

        </div>
      </div>
    </article>

    <hr>

<!--    <div class="row mb-4">-->
<!--      <div class="col-md-4 col-6 mb-2">-->
<!--        <label class="form-label">Size</label>-->
<!--        <select class="form-select">-->
<!--          <option>Small</option>-->
<!--          <option>Medium</option>-->
<!--          <option>Large</option>-->
<!--        </select>-->
<!--      </div> &lt;!&ndash; col.// &ndash;&gt;-->
<!--      <div class="col-md-4 col-6 mb-3">-->
<!--        <label class="form-label d-block">Quantity</label>-->
<!--        <div class="input-group input-spinner">-->
<!--          <button class="btn btn-icon btn-light" type="button"> -->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">-->
<!--                <path d="M19 13H5v-2h14v2z"></path>-->
<!--              </svg>-->
<!--          </button>-->
<!--          <input class="form-control text-center" placeholder="" value="14">-->
<!--          <button class="btn btn-icon btn-light" type="button">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#999" viewBox="0 0 24 24">-->
<!--                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>-->
<!--              </svg>-->
<!--          </button>-->
<!--        </div> &lt;!&ndash; input-group.// &ndash;&gt;-->
<!--      </div> &lt;!&ndash; col.// &ndash;&gt;-->
<!--    </div> &lt;!&ndash; row.// &ndash;&gt;-->

    <a href="#" class="btn  btn-warning" id="buy_button"> Buy now </a>


  
  </article> <!-- product-info-aside .// -->


</main> <!-- col.// -->
</div> <!-- row.// -->

</div> <!-- container .//  -->
</section>
<section class="padding-x" id="">
  <div class="container">
    <header class="section-heading">
      <h5 class="section-title">Comments</h5>
    </header>
    <div class="row">

      <main class="col-lg-9" id="comments_div">
        <p>No comment!</p>

        <!-- ========= content items ========= -->
        <!-- ========= content items .// ========= -->

      </main> <!-- col .// -->
    </div> <!-- row .// -->

  </div> <!-- container .//  -->
</section>
<!-- ============== SECTION CONTENT END// ============== -->

<!-- ============== SECTION  ============== -->
<!--<section class="padding-y bg-light border-top">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--  <div class="col-lg-8">-->
<!--&lt;!&ndash; =================== COMPONENT SPECS ====================== &ndash;&gt;-->
<!--<div class="card">-->
<!--  <header class="card-header">-->
<!--    <ul class="nav nav-tabs card-header-tabs">-->
<!--      <li class="nav-item">-->
<!--        <a href="#" data-bs-target="#tab_specs" data-bs-toggle="tab" class="nav-link active">Specification</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a href="#" data-bs-target="#tab_warranty" data-bs-toggle="tab" class="nav-link">Warranty info</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a href="#" data-bs-target="#tab_shipping" data-bs-toggle="tab" class="nav-link">Shipping info</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a href="#" data-bs-target="#tab_seller" data-bs-toggle="tab" class="nav-link">Seller profile</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </header>-->
<!--  <div class="tab-content">-->
<!--    <article id="tab_specs" class="tab-pane show active card-body">-->
<!--      <p>With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>-->
<!--      <ul class="list-check cols-two">-->
<!--        <li>Some great feature name here </li>-->
<!--        <li>Lorem ipsum dolor sit amet, consectetur </li>-->
<!--        <li>Duis aute irure dolor in reprehenderit </li>-->
<!--        <li>Optical heart sensor </li>-->
<!--        <li>Easy fast and ver good </li>-->
<!--        <li>Some great feature name here </li>-->
<!--        <li>Modern style and design</li>-->
<!--      </ul>-->
<!--      <table class="table border table-hover">-->
<!--        <tr>-->
<!--          <th>  Display: </th> <td> 13.3-inch LED-backlit display with IPS </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>  Processor capacity: </th> <td> 2.3GHz dual-core Intel Core i5 </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>  Camera quality: </th> <td>720p FaceTime HD camera  </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>  Memory </th> <td> 8 GB RAM or 16 GB RAM </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th>  Graphics </th> <td> Intel Iris Plus Graphics 640 </td>-->
<!--        </tr>-->
<!--      </table>-->
<!--  </article> &lt;!&ndash; tab-content.// &ndash;&gt;-->
<!--  <article id="tab_warranty" class="tab-pane card-body">-->
<!--    Tab content or sample information now <br>-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
<!--    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--  </article>-->
<!--  <article id="tab_shipping" class="tab-pane card-body">-->
<!--    Another tab content  or sample information now <br>-->
<!--    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
<!--    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
<!--  </article>-->
<!--  <article id="tab_seller" class="tab-pane card-body">-->
<!--    Some other tab content  or sample information now <br>-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--    cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non-->
<!--    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
<!--  </article>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; =================== COMPONENT SPECS .// ================== &ndash;&gt;   -->
<!--  </div> &lt;!&ndash; col.// &ndash;&gt;-->
<!--  <aside class="col-lg-4">-->
<!--&lt;!&ndash; =================== COMPONENT ADDINGS ====================== &ndash;&gt;-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Similar items</h5>-->
<!--         -->
<!--        <article class="itemside mb-3">-->
<!--          <a href="#" class="aside">-->
<!--            <img src="images/items/8.jpg" width="96" height="96" class="img-md img-thumbnail">-->
<!--          </a>-->
<!--          <div class="info">-->
<!--            <a href="#" class="title mb-1"> Rucksack Backpack Large <br> Line Mounts </a>-->
<!--            <strong class="price"> $38.90</strong> &lt;!&ndash; price.// &ndash;&gt;-->
<!--          </div>-->
<!--        </article>-->

<!--        <article class="itemside mb-3">-->
<!--          <a href="#" class="aside">-->
<!--            <img src="images/items/9.jpg" width="96" height="96" class="img-md img-thumbnail">-->
<!--          </a>-->
<!--          <div class="info">-->
<!--            <a href="#" class="title mb-1"> Summer New Men's Denim <br> Jeans Shorts  </a>-->
<!--            <strong class="price"> $29.50</strong> &lt;!&ndash; price.// &ndash;&gt;-->
<!--          </div>-->
<!--        </article>-->

<!--        <article class="itemside mb-3">-->
<!--          <a href="#" class="aside">-->
<!--            <img src="images/items/10.jpg" width="96" height="96" class="img-md img-thumbnail">-->
<!--          </a>-->
<!--          <div class="info">-->
<!--            <a href="#" class="title mb-1"> T-shirts with multiple colors, for men and lady </a>-->
<!--            <strong class="price"> $120.00</strong> &lt;!&ndash; price.// &ndash;&gt;-->
<!--          </div>-->
<!--        </article>-->

<!--        <article class="itemside mb-3">-->
<!--          <a href="#" class="aside">-->
<!--            <img src="images/items/11.jpg" width="96" height="96" class="img-md img-thumbnail">-->
<!--          </a>-->
<!--          <div class="info">-->
<!--            <a href="#" class="title mb-1"> Blazer Suit Dress Jacket for Men, Blue color </a>-->
<!--            <strong class="price"> $339.90</strong> &lt;!&ndash; price.// &ndash;&gt;-->
<!--          </div>-->
<!--        </article>-->

<!--      </div> &lt;!&ndash; card-body .// &ndash;&gt;-->
<!--    </div> &lt;!&ndash; card .// &ndash;&gt;-->
<!--&lt;!&ndash; =================== COMPONENT ADDINGS .// ================== &ndash;&gt; -->
<!--  </aside> &lt;!&ndash; col.// &ndash;&gt;-->
<!--</div>-->

<!--<br><br>-->

<!--</div>&lt;!&ndash; container // &ndash;&gt;-->
<!--</section>-->
<!-- =============== SECTION  END// ============== -->



<!--<footer class="section-footer bg-primary footer-dark">-->
<!--<div class="container">-->
<!--  <section class="footer-main padding-y">-->
<!--    <div class="row">-->
<!--      <aside class="col-12 col-sm-12 col-lg-3">-->
<!--        <article class="me-lg-4">-->
<!--          <img src="images/logo-white.png" class="logo-footer">-->
<!--          <p class="mt-3"> © 2018- 2021 Templatemount. <br> All rights reserved. </p>-->
<!--        </article>-->
<!--      </aside>-->
<!--      <aside class="col-6 col-sm-4 col-lg-2">-->
<!--        <h6 class="title">Store</h6>-->
<!--        <ul class="list-menu">-->
<!--          <li> <a href="#">About us</a></li>-->
<!--          <li> <a href="#">Find store</a></li>-->
<!--          <li> <a href="#">Categories</a></li>-->
<!--          <li> <a href="#">Blogs</a></li>-->
<!--        </ul>-->
<!--      </aside>-->
<!--      <aside class="col-6 col-sm-4 col-lg-2">-->
<!--        <h6 class="title">Information</h6>-->
<!--        <ul class="list-menu">-->
<!--          <li> <a href="#">Help center</a></li>-->
<!--          <li> <a href="#">Money refund</a></li>-->
<!--          <li> <a href="#">Shipping info</a></li>-->
<!--          <li> <a href="#">Refunds</a></li>-->
<!--        </ul>-->
<!--      </aside>-->
<!--      <aside class="col-6 col-sm-4  col-lg-2">-->
<!--        <h6 class="title">Support</h6>-->
<!--        <ul class="list-menu">-->
<!--          <li> <a href="#"> Help center </a></li>-->
<!--          <li> <a href="#"> Documents </a></li>-->
<!--          <li> <a href="#"> Account restore </a></li>-->
<!--          <li> <a href="#"> My Orders </a></li>-->
<!--        </ul>-->
<!--      </aside>-->
<!--      <aside class="col-12 col-sm-12 col-lg-3">-->
<!--        <h6 class="title">Newsletter</h6>-->
<!--        <p>Stay in touch with latest updates about our products and offers </p>-->

<!--        <form class="mb-3">-->
<!--          <div class="input-group">-->
<!--            <input class="form-control" type="text" placeholder="Email">-->
<!--            <button class="btn btn-light" type="submit">-->
<!--              Join-->
<!--            </button>-->
<!--          </div> &lt;!&ndash; input-group.// &ndash;&gt;-->
<!--        </form>-->
<!--      </aside>-->
<!--    </div> &lt;!&ndash; row.// &ndash;&gt;-->
<!--  </section>  &lt;!&ndash; footer-top.// &ndash;&gt;-->
<!--  <hr class="my-0">-->
<!--  <section class="footer-bottom d-flex justify-content-lg-between">-->
<!--    <div>-->
<!--      <i class="fab fa-lg fa-cc-visa"></i>-->
<!--      <i class="fab fa-lg fa-cc-amex"></i>-->
<!--      <i class="fab fa-lg fa-cc-mastercard"></i>-->
<!--      <i class="fab fa-lg fa-cc-paypal"></i>-->
<!--    </div>-->
<!--    <nav class="dropup">-->
<!--        <button class="dropdown-toggle btn text-white d-flex align-items-center py-0" type="button" data-bs-toggle="dropdown">-->
<!--          <img src="images/flags/flag-usa.png" class="me-2" height="20"> -->
<!--          <span>English</span>-->
<!--        </button>-->
<!--        <ul class="dropdown-menu dropdown-menu-end">-->
<!--          <li><a class="dropdown-item" href="#">Russian</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Arabic</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Spanish</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--    -->
<!--  </section>-->
<!--</div> &lt;!&ndash; container end.// &ndash;&gt;-->
<!--</footer>-->
<footer class="section-footer bg-gray-light">
  <div class="container">
    <section class="footer-main padding-y">
      <div class="row">
        <aside class="col-12 col-sm-12 col-lg-3">
          <article class="me-lg-4">
            <img src="./public/images/logo.png" class="logo-footer">
            <p class="mt-3"> © 2018- 2021 Templatemount. <br> All rights reserved. </p>
          </article>
        </aside>
        <aside class="col-6 col-sm-4  col-lg-2">
          <h6 class="title">Support</h6>
          <ul class="list-menu mb-4">
            <li> <a href="#"> FAQ </a></li>
            <li> <a href="/profile/page-order-history"> My Orders </a></li>
            <li> <a href="#"> Admin </a></li>
          </ul>
        </aside>
      </div> <!-- row.// -->
    </section>  <!-- footer-top.// -->

  </div> <!-- container end.// -->
</footer>

<script src="../public/pages_js/itemDetail.js"></script>