
<header class="section-header border-bottom">	
	<section class="header-main">
		<div class="container">
			<a href="index.html" class="brand-wrap">
				<img class="logo" height="40" src="images/logo.svg">
			</a> <!-- brand-wrap end.// -->
		</div> <!-- container end.// -->
	</section>
</header> <!-- section-header end.// -->

<!-- ============== SECTION CONTENT  ============== -->
<section class="padding-y bg-light">
<div class="container">

	<header class="section-heading">
		<h2 class="section-title">Terms and Conditions </h2>
	</header> 

	<article>
	<p>This is a free website for everyone. There are really not any terms and conditions.</p>
	<p>Feel free to sign-up or try it out.</p>
	<p>Hope you have fun here.</p>
	<p>Thanks our team members to make this website possible.</p>
	<p>Zon Wei</p>
	<p>Chengchen Zhao</p>
	<p>Cara Li</p>
	<p>Jiyuan Xia</p>
	<p>Hanyu Wang</p>


	<br><br><br><br><br><br><br><br><br>

	</article>

</div> <!-- container .//  -->
</section>
<!-- ============== SECTION CONTENT END// ============== -->

<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-end"> 
			&copy; Copyright 2021 All rights reserved
		</p>
		<p>
			<a href="page-term-conditions.html" class="link-primary">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
