
<header class="section-header">	
	<section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="../" class="navbar-brand">
            <img class="logo" height="40" src="../public/images/logo.png">
          </a> <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">
            <a href="/user/page-user-login" class="btn btn-light"> 
						    <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Log in  </span> 
						</a>
						<a href="/user/page-user-signup" class="btn btn-light"> 
							<i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign up  </span>   
						</a>
						<a href="/profile/page-order-history" class="btn btn-light"> 
							<i class="fa fa-shopping-basket"></i> <span class="ms-1">Profile </span> 
						</a>
              </div>
        </div> <!-- col end.// -->
        <div class="col-lg-5 col-md-12 col-12">
          <form action="#" class="">
                  <div class="input-group">
                    <input type="search" class="form-control" style="width:55%" placeholder="Search">
                    <button class="btn btn-primary">
                      <i class="fa fa-search"></i> 
                    </button>
                  </div> <!-- input-group end.// -->
                </form>
        </div> <!-- col end.// -->
        
      </div> <!-- row end.// -->
    </div> <!-- container end.// -->
  </section> <!-- header-main end.// -->
</header> <!-- section-header end.// -->

<!-- ============== SECTION PAGETOP ============== -->
<section class="bg-primary padding-y-sm">
<div class="container">

  <ol class="breadcrumb ondark mb-0">
    <li class="breadcrumb-item"><a href="../">Home</a></li>
    <li class="breadcrumb-item"><a href="/profile/page-order-history">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Selling history</li>
  </ol>

</div> <!-- container //  -->
</section>
<!-- ============== SECTION PAGETOP END// ============== -->

<!-- ============== SECTION CONTENT ============== -->
<section class="padding-y bg-light">
<div class="container">

<div class="row">
  <aside class="col-lg-3 col-xl-3">
    <!--  COMPONENT MENU LIST  -->
    <nav class="nav flex-lg-column nav-pills mb-4">
      <a class="nav-link active" href="/profile/page-order-history">Order history</a>
      <a class="nav-link" href="/profile/page-sell-history">Selling history</a>
      <a class="nav-link" href="/profile/page-new-item">List new item</a>
      <a class="nav-link" href="#">Log out</a>
    </nav>
    <!--   COMPONENT MENU LIST END .//   -->
  </aside>
  <main class="col-lg-9  col-xl-9">
    <article class="card">
    <div class="content-body">

    <figure class="itemside align-items-center">
      <figcaption class="info">
        <h6 class="title">Mr. Jackson Mike</h6>
        <p>Email: myusername@gmail.com, Phone: +1234567890988 
          <a href="/user/page-user-edit" class="px-2"><i class="fa fa-pen"></i></a>
        </p>
      </figcaption>
    </figure>


    <hr class="my-4">

    <h5 class="card-title"> Listed items </h5> 
    <!--  ======== item order ======== -->
    <article class="card border-primary mb-4">
    <div class="card-body">
      <header class="d-lg-flex">
        <div class="flex-grow-1">
          <h6 class="mb-0">Product1 <i class="dot"></i>  
          </h6>
        </div>
      </header>
      <hr>
      <div class="row">
        <div class="col-lg-4">
        </div> <!-- col.// -->
        <div class="col-lg-4 border-start">
        </div> <!-- col.// -->
        <div class="col-lg-4 border-start">
        </div> <!-- col.// -->
      </div> <!-- row.// -->
      <hr>
      <ul class="row">
        <!-- Sessions goes here -->
        <li class="col-xl-4  col-lg-6">
          <figure class="itemside mb-3">
            <figcaption class="info">
              <p class="title">Session1</p>
              <strong> Complete </strong>
            </figcaption>
          </figure> 
        </li>
        <li class="col-xl-4  col-lg-6">
          <figure class="itemside mb-3">
            <figcaption class="info">
              <p class="title">Session2</p>
              <strong> On going </strong>
            </figcaption>
          </figure>
        </li>
        <li class="col-xl-4  col-lg-6"> 
          <figure class="itemside mb-3">
            <figcaption class="info">
              <p class="title">Session3</p>
              <strong> Not started </strong>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div> <!-- card-body .// -->
    </article> <!-- card .// --> 
    <!--  ======== item order .// ======== -->




    </div> <!-- card-body .// -->
    </article> <!-- card .// --> 
  </main>
</div> <!-- row.// -->

<br><br>


</div> <!-- container .//  -->
</section>
<!-- ============== SECTION CONTENT END// ============== -->
<!-- Custom css -->
<link href="../public/css/ui.css" rel="stylesheet" type="text/css" />
<link href="../public/css/responsive.css" rel="stylesheet" type="text/css" />

<!-- Font awesome 5 -->
<link href="../public/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">